<style>
    body {
       
       text-align: center
    
    }
    
    </style>

<h1> Search For Movie Details : </h1>

<form action="/results" method="GET">

<input type="text" placeholder="Movie Name" name="search">
<input type="submit">

</form>